*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

/* Adding Animation to heading section */
@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* 60%{
        transform: rotate(180deg); By this animation will rotate
    } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation-name: moveInleft;
    animation-duration: 1s;
    /*This is the time in which animation will complete*/
    animation-timing-function: ease-in;
    /* This will accelerate animation*/
    /* 
        animation-delay: 3s; This element start animation after 3 second opening the webpage 
        animation-iteration-count: 3; This element repeat animation moveInleft 3 times
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    font-weight: 700;
    animation: moveInright 1s ease-in;
    margin-bottom: 6rem; }

.btn {
  /* adding fadingIn effect to button */ }
  .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.5rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInBottom 0.4s ease-out .75s;
    animation-fill-mode: backwards; }
  .btn--white {
    color: #777;
    background-color: #fff; }
    .btn--white::after {
      background-color: #fff; }

.header {
  height: 95vh;
  /*This will take 95% of webpage's height*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.808), rgba(40, 180, 133, 0.808)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* This element will fix top of image and crop bottom of it when we resize webpage.*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clip- path element create polygon and takes input cordinates 
    of that polygon considering left-top corner as origin, X-axis to right, Y-axis to below*/
  position: relative;
  /* This is the method by which we centered any block */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    width: auto; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  background-color: #bbb;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^=col-] {
    background-color: aqua;
    float: left; }
    .row [class^=col-]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2*((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc( 2*((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3*((100% - 3 * 6rem)/4) + 2* 6rem); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }
