*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;

    // adding media query part
    /*@include respond(phone){
        font-size: 50%;
    }
    Here we will not add phone media query because font size for both phone and tab-port is same.
    */
    @include respond(big-desktop){ //>=1800px
        font-size: 75%; //12px = 12/16=75%
    }
    @include respond(tab-land){ //<=1200
        font-size: 56.25%; // 9px=9/16=56.25%
    }
    @include respond(tab-port){//<=900
        font-size: 50%; //8px =8/16=50
    }
}
body{
    padding: 3rem;
    box-sizing: border-box;
    @include respond(tab-port){
        padding: 0;
    }
}