// This is main heading or our main header 
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        font-weight: 400;
    
        animation-name: moveInleft;
        animation-duration: 1s; /*This is the time in which animation will complete*/
        animation-timing-function: ease-in; /* This will accelerate animation*/
        /* 
        animation-delay: 3s; This element start animation after 3 second opening the webpage 
        animation-iteration-count: 3; This element repeat animation moveInleft 3 times
        */
    }
    &--sub{
        display: block;
        font-size: 2rem;
        letter-spacing: 1.74rem;
        font-weight: 700;
        animation: moveInright 1s ease-in;
        margin-bottom: 6rem;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $primary-color-light,$primary-color-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: all 0.2s;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,0.2);
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    color:$color-grey-dark;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.paragraph{
    font-size: $default-font-size;
    font-weight: 300;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}